@media only screen and (max-width: 320px) {
   .site-banner .jumbotron .benner-text h1 {
      padding-top: 10rem;
      font-size: 2.3rem;
   }


}

@media screen and (min-width: 321px) and (max-width: 375px) {
   .site-banner {
      height: 400px;
   }

   .site-banner .jumbotron .benner-text h1 {
      padding-top: 6rem;
      padding-bottom: 0rem;
      font-size: 3.3rem;
   }

   .site-banner .jumbotron .search-container {
      padding: 1rem 1rem;
   }

   .site-adventure .adventure-area .card-deck .card,
   .site-adventure .adventure-area .card-deck .card a {
      width: 340px;
   }
}

@media screen and (min-width: 376px) and (max-width: 426px) {

   .site-banner {
      height: 500px;
   }

   .site-banner .jumbotron .benner-text h1 {
      padding-top: 5rem;
      font-size: 3.3rem;
   }

   .site-banner .jumbotron .search-container {
      padding: 1rem 1rem;
   }

   .site-adventure .adventure-area .card-deck .card,
   .site-adventure .adventure-area .card-deck .card a {
      width: 380px;
   }

   .site-plan .plan-area {
      padding: 2rem 0rem 3rem 0rem;
   }


}